<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="Instance Name" value="HwControlApp"/>
    <add key="Interface INI Path" value="C:\ATEs\QuadroCopter\ATE_QuadroCopter\Config\Interfaces.ini"/>
    <add key="Drivers INI Path" value="C:\ATEs\QuadroCopter\ATE_QuadroCopter\Config\Drivers.ini"/>
  </appSettings>
</configuration>
